:root {
    --primary-color: #4de8fc;
    --danger-color: #ff554f;
    --bg-color: #050507;
    --secondary-bg: #0c0d15;
    --border-color: #4054c8;
    --text-color: #ffffff;
    --secondary-text: #bbc5ff;
    font-family: "ApexMk2", sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}

@font-face {
    font-family: "ApexMk2";
    src: url("assets/ApexMk2-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ApexMk2";
    src: url("assets/ApexMk2-BoldExtended.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

.full-cover {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

input {
    width: 100%;
    font-family: monospace;
    font-size: 1rem;
    background-color: rgba(8, 9, 15, 0.5);
    border: 1px solid var(--primary-color);
    box-sizing: border-box;
    padding: 16px;
    color: var(--text-color);
    display: block;
}

button {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-family: "ApexMk2", monospace;
    font-size: 1rem;
    padding: 16px;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
}

.button-danger {
    border-color: var(--danger-color);
    color: var(--danger-color);
}

h1 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}
